* {
  margin: 0;
  padding: 0;
}

$background: rgb(59, 59, 59);
$shadow-containers: 0 0 50px 0px rgba(95, 95, 95, 0.979);
$shadow-movies: 0 0 50px 0px rgba(137, 255, 206, 0.979);
$text-color: rgb(137, 137, 255);
